@import "tailwindcss";
@import "tw-animate-css";

@plugin 'tailwind-scrollbar';
@plugin 'tailwind-scrollbar-hide';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-abodex-50: oklch(0.953 0.048 119.91);
	--color-abodex-100: oklch(0.92 0.051 119.37);
	--color-abodex-200: oklch(0.842 0.047 119.44);
	--color-abodex-300: oklch(0.765 0.042 119.52);
	--color-abodex-400: oklch(0.686 0.038 119.62);
	--color-abodex-500: oklch(0.609 0.033 119.76);
	--color-abodex-600: oklch(0.532 0.029 119.36);
	--color-abodex-700: oklch(0.43 0.025 119.54);
	--color-abodex-800: oklch(0.334 0.019 119.81);
	--color-abodex-900: oklch(25% 0.015 119.4);
	--color-abodex-950: oklch(15% 0.01 119.4);
}

:root {
	--radius: 0.625rem;
	--background: #f9f9fa;
	--foreground: oklch(15% 0.01 119.4);
	--card: oklch(1 0 0);
	--card-foreground: oklch(15% 0.01 119.4);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(15% 0.01 119.4);
	--primary: oklch(0.609 0.033 119.76);
	--primary-foreground: oklch(25% 0.015 119.4);
	--secondary: oklch(0.92 0.051 119.37);
	--secondary-foreground: oklch(0.334 0.019 119.81);
	--muted: oklch(0.92 0.051 119.37);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.92 0.051 119.37);
	--accent-foreground: oklch(0.232 0.011 114.94);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(97.777% 0.02133 118.353);
	--sidebar-foreground: oklch(15% 0.01 119.4);
	--sidebar-primary: oklch(0.43 0.025 119.54);
	--sidebar-primary-foreground: oklch(0.92 0.051 119.37);
	--sidebar-accent: oklch(0.92 0.051 119.37);
	--sidebar-accent-foreground: oklch(0.232 0.011 114.94);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(15% 0.01 119.4);
	--foreground: oklch(0.92 0.051 119.37);
	--card: oklch(0.232 0.011 114.94);
	--card-foreground: oklch(0.92 0.051 119.37);
	--popover: oklch(0.232 0.011 114.94);
	--popover-foreground: oklch(0.92 0.051 119.37);
	--primary: oklch(0.609 0.033 119.76);
	--primary-foreground: oklch(0.232 0.011 114.94);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.92 0.051 119.37);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.92 0.051 119.37);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.232 0.011 114.94);
	--sidebar-foreground: oklch(0.92 0.051 119.37);
	--sidebar-primary: oklch(0.43 0.025 119.54);
	--sidebar-primary-foreground: oklch(0.92 0.051 119.37);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.92 0.051 119.37);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	.ql-toolbar.ql-snow {
		background-color: var(--muted) !important;
		border: 1px solid var(--border) !important;
		@apply rounded-t-md!;
	}

	.ql-container.ql-snow {
		border: 1px solid var(--border) !important;
		@apply rounded-b-md!;
	}

	.ql-snow .ql-fill,
	.ql-snow .ql-stroke.ql-fill {
		fill: var(--foreground) !important;
		border: 1px solid var(--border) !important;
	}

	.ql-snow .ql-stroke {
		stroke: var(--foreground) !important;
	}

	.ql-snow .ql-picker-options {
		background-color: var(--muted) !important;
		color: var(--foreground) !important;
	}

	.ql-snow .ql-picker {
		color: var(--foreground) !important;
	}

	.ql-snow .ql-picker {
		@apply text-foreground! hover:text-muted-foreground!;
	}

	.ql-editor,
	.ql-blank::before {
		@apply leading-7 min-h-40! text-foreground!;
	}
}
